body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  display: inline-block;

  padding: 16px 0;

  font: inherit;
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  
  border: none;
  border-radius: 3px;
}

.button-red {
    background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
    background-color: #e74246;
}

.button-red:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}

.button-green:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #00aa62;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}

.button-yellow:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #e5a722;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-grey {
    color: #000000;

    background-color: #eeeeee;
}

.button-grey:hover,
.button-grey:focus {
    background-color: #dfdfdf;
}

.button-grey:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
    
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-slider {
  width: 240px;
  /* padding: ; */
}

.button-feedback {
  width: 220px;
}

.button-modal-feedback {
  width: 260px;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.navigation-list {
  list-style: none;
}

.cart, .navigation-list a {
  position: relative;
  color: #000000;
}

.cart:hover, .navigation-list a:hover,
.cart:focus, .navigation-list a:focus {
  color: #fb565a;
}

.cart:active, .navigation-list a:active {
  color: #000000;
  opacity: 0.3;
}

.cart-current::after {
  content: "";

  position: absolute;
  top: 110%;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #fb565a;
}


.navigation-item-current a::before {
  content: "";

  position: absolute;
  top: 150%;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #fb565a;
}

.cart-current:hover, .navigation-item-current a:hover,
.cart-current:focus, .navigation-item-current a:focus,
.cart-current:active, .navigation-item-current a:active {
  color: #000000;
  opacity: 1;
}

/* slider */

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 2;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-55%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  /* top: 8px;
  left: 8px;
  z-index: 1; */

  width: 18px;
  height: 18px;

  border-radius: 50%;

  background-color: #ffffff;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  right: 8px;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  border: 2px solid #c1c1c1;
  border-radius: 50%;
  background-color: inherit;
}

.slider-list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;

  margin: 0;
  margin-bottom: 40px;
}


.feature-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.info-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;

  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-top: 40px;
}

.info-paragraph {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.info b {
  display: inline-block;
  margin-bottom: 25px;

  text-transform: uppercase;
}

.info-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info-item {
  position: relative;

  margin-bottom: 28px;
  padding-left: 37px;
}

.info-item:last-child {
  margin-bottom: 0;
}

.info-item::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 1px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.statistics img {
  margin-bottom: 35px;
}

.statistics p {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;

  font-weight: 700;

  text-align: center;
  text-transform: uppercase;
}

.statistics-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.statistics-list dd {
  margin: 0;

  line-height: 18px;
  color: #283136;
}

.statistics-wrapper {
  margin-right: 25px;
}

.statistics-termin b {
  display: inline-block;
  position: relative;

  margin-bottom: 25px;
  
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
}

.statistics-termin b::after {
  content: "%";

  position: absolute;
  top: -8px;
  right: -18px;

  font-size: 25px;
  font-weight: 700;
}

.clients-list {
  list-style: none;
}

.client-item img {
  opacity: 0.2;
}

.client-item img:hover,
.client-item img:focus {
  opacity: 1;
}

.client-item img:active {
  opacity: 0.1;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  text-align: center;

  background-color: #eeeeee;
}

.filters fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  text-transform: uppercase;
}

.filters .filter-item-range {
  margin-bottom: 55px;
}

.filter-item-range legend {
  margin-bottom: 50px;
}

.range-controls {
  position: relative;

  height: 41px;

  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #eeeeee;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  border-radius: 50%;

  box-shadow: 0 2px 1px 0 #cfcfcf;

  background-color: #ababab;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;

  width: 50%;

  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}

.price-controls input {
  width: 64px;
  padding: 8px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background-color: #eeeeee;
}

.max-price {
  text-align: right;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters .button {
  width: 100%;

  font-weight: 500;
}

.filters .filter-item-grid,
.filters .filter-item-special {
  margin-bottom: 50px;
}

.filter-item-grid legend,
.filter-item-special legend {
  margin-bottom: 20px;
}

.filter-option {
  position: relative;

  padding-left: 35px;
  margin-bottom: 20px;

  color: #283136;
}

.filter-item-grid .filter-option:last-child,
.filter-item-special .filter-option:last-child {
  margin-bottom: 0;
}

.filter-option:hover,
.filter-option:focus {
color: #000000;
}

.filter-option:disabled {
    opacity: 0.3;
}

.filter-option-radio + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 1px;

  box-sizing: border-box;
  width: 25px;
  height: 25px;

  border: 4px solid #a6a6a6;
  border-radius: 50%;

  background-color: #ffffff;
}

.filter-option-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 9px;

  box-sizing: border-box;
  width: 9px;
  height: 9px;

  border-radius: 50%;

  background-color: #a6a6a6;
}

.filter-option-checkbox:not(:checked) + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 1px;

  box-sizing: border-box;
  width: 23px;
  height: 23px;

  border: 2px solid #a6a6a6;
  border-radius: 3px;

  background-color: #ffffff;
}

.filter-option-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0;
  left: 1px;


  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  opacity: 0.35;
}

.options b {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.options-list {
    list-style: none;
}

.options-item a {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;

    text-transform: uppercase;
}

.options-item a:hover,
.options-item a:focus {
    opacity: 0.6;
}

.options-item a:active,
.options-item-current {
    opacity: 1;
}

.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  padding-top: 40px;

  width: 360px;
  height: 576px;
}

.catalog-item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 360px;
  height: 40px;

  background-image: url("../img/browser.svg");
  
  opacity: 0.1;
}

.catalog-item-hover {
    background-color: #eeeeee;
}

.catalog-item-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;

    text-transform: uppercase;
}

.catalog-item-info {
    color: #666666;
    line-height: 18px;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    line-height: 18px;
    font-weight: 500;
    color: #000000;

    background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;

    border-top: 1px solid #bfbfbf;
}

.pagination-current a,
.pagination-current a:hover,
.pagination-current a:focus,
.pagination-current a:active {
    background-color: #ffffff;
    
    border: 1px solid #666666;
}

.page-title {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 115px;
}

.filters-wrapper {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.options-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  min-width: 360px;
}

.catalog {
  width: 760px;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.main-footer {
  background-color: #ffffff;
}

.feedback b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.feedback p {
  color: #666666;
  line-height: 18px;
}

.social-list {
  list-style: none;
}

.friendship {
  line-height: 22px;
  color: #444444;
}

.friendship b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.modal-feedback b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.feedback-item {
  line-height: 18px;
  font-weight: 700;
}


/* Стилевые */
.main-header {
  background-color: #eeeeee;

  padding-top: 49px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 160px;
  height: 65px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  padding-right: 48px;
}

.cart {
  position: relative;

  padding-left: 40px;

  align-self: center;
}

.cart::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  opacity: 0.3;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


.features {
  margin-bottom: 80px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-item {
  display: flex;
  flex-direction: column;

  width: 300px;
}

.feature-item img {
  order: -1;
  margin-bottom: 25px;
}

.feature-item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  text-transform: uppercase;
}

.feature-item p {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  color: #283136;
}

.feature-item .button {
  width: 160px;
  /* min-height: 50px; */
}

.info-wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 75px;
  padding-top: 40px;

  border-top: 2px solid #eeeeee;
}

.info {
  width: 660px;
}

.statistics {
  width: 360px;
}

.clients {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.clients-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.client-item {
  padding: 35px 0;
}

.main-footer {
  margin-top: 80px;
}

.maps {
  background-image: url("../img/map-with-marker.png");
  background-position: 0 0;
  background-repeat: no-repeat;

  max-width: 1440px;
  height: 416px;

  margin: 0 auto;
}

.maps .container {
  padding-top: 54px;
}

.feedback {
  box-sizing: border-box;

  margin: 0;
  padding: 50px;

  width: 320px;

  background-color: #ffffff;
}

.feedback b {
  display: block;
  margin-bottom: 25px;
}

.feedback p {
  margin: 0;
  margin-bottom: 18px;
}

.feedback p:last-of-type {
  margin-bottom: 35px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  margin-right: 140px;

  width: 260px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;

  background-color: #e1e1e1;

  border-radius: 50%;
}

.social:hover,
.social:focus {
  background-color: #e74246;
}
.social:active {
  fill-opacity: 0.3;

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.main-footer > .container {
  display: flex;
  align-items: center;
  padding: 69px 0;
}

.friendship {
  margin: 0;
  padding: 0;
}

.friendship b {
  display: block;
  margin-bottom: 10px;
}