body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  
  border: none;
}

.button-red {
    background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
    background-color: #e74246;
}

.button-red:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}

.button-green:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #00aa62;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}

.button-yellow:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #e5a722;
}

.button-grey {
    color: #000000;

    background-color: #eeeeee;
}

.button-grey:hover,
.button-grey:focus {
    background-color: #dfdfdf;
}

.button-grey:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
    
    border-top: 10px solid #bfbfbf;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.navigation-list {
  list-style: none;
}

.cart, .navigation-list a {
  color: #000000;
}

.cart:hover, .navigation-list a:hover,
.cart:focus, .navigation-list a:focus {
  color: #fb565a;
}

.cart:active, .navigation-list a:active {
  color: #000000;
  opacity: 0.3;
}

.cart-current, .navigation-item-current a {
  text-decoration: underline;
  text-decoration-color: #fb565a;
}

.cart-current:hover, .navigation-item-current a:hover,
.cart-current:focus, .navigation-item-current a:focus,
.cart-current:active, .navigation-item-current a:active {
  color: #000000;
  opacity: 1;
}

.slider {
  background-color: #eeeeee;
}

.slider-list {
  list-style: none;
}

.slide b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

/* slider */

.slider {
  position: relative;
  /* margin: 50px auto; */
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75); */
}

.slider-slides {
  overflow: hidden;
}

.slider-list {
  width: 300%;
}

.slide {
  width: 1160px;
  height: 430px;
  float: left;
}

.slide:nth-child(1) {
  background-image: url('/nerds/img/slide-1.png');
  background-position: bottom right;
  background-repeat: no-repeat;
}

.slide:nth-child(2) {
  background-image: url('/nerds/img/slide-2.png');
  background-position: bottom right;
  background-repeat: no-repeat;
}

.slide:nth-child(3) {
  background-image: url('/nerds/img/slide-3.png');
  background-position: bottom right;
  background-repeat: no-repeat;
}

/* end slider */

.feature-list {
  list-style: none;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.info-strong {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.info b {
  text-transform: uppercase;
}

.info-list {
  list-style: none;
}

.statistics p {
  font-weight: 700;

  text-transform: uppercase;
}

.statistics-termin b {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.procent {
  font-size: 25px;
  font-weight: 700;
}

.statistics-list dd {
  line-height: 18px;
  color: #283136;
}

.clients-list {
  list-style: none;
}

.client-item img {
  opacity: 0.2;
}

.client-item img:hover,
.client-item img:focus {
  opacity: 1;
}

.client-item img:active {
  opacity: 0.1;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  text-align: center;

  background-color: #eeeeee;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.filter-option {
  color: #283136;
}

.filter-option:hover,
.filter-option:focus {
color: #000000;
}

.filter-option:disabled {
    opacity: 0.3;
}

.filter-option-range label {
  line-height: 22px;
  text-transform: uppercase;
}

.options b {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.options-list {
    list-style: none;
}

.options-item a {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;

    text-transform: uppercase;
}

.options-item a:hover,
.options-item a:focus {
    opacity: 0.6;
}

.options-item a:active,
.options-item-current {
    opacity: 1;
}

.catalog-list {
    list-style: none;
}

.catalog-item-hover {
    background-color: #eeeeee;
}

.catalog-item-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;

    text-transform: uppercase;
}

.catalog-item-info {
    color: #666666;
    line-height: 18px;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    line-height: 18px;
    font-weight: 500;
    color: #000000;

    background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;

    border-top: 1px solid #bfbfbf;
}

.pagination-current a,
.pagination-current a:hover,
.pagination-current a:focus,
.pagination-current a:active {
    background-color: #ffffff;
    
    border: 1px solid #666666;
}

.main-footer {
  background-color: #ffffff;
}

.feedback b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.feedback p {
  color: #666666;
  line-height: 18px;
}

.social-list {
  list-style: none;
}

.friendship {
  line-height: 22px;
  color: #444444;
}

.friendship b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.modal-feedback b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.feedback-item {
  line-height: 18px;
  font-weight: 700;
}


/* Стилевые */
.main-header {
  background-color: #eeeeee;

  padding-top: 49px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 160px;
  height: 65px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  padding-right: 48px;
}

.cart {
/* display: flex; */
/* justify-content: end; */
align-self: center;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.slider {
  /* margin: 50px auto; */
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75); */
}

.features {
  margin-bottom: 80px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-item {
  display: flex;
  flex-direction: column;

  width: 300px;
}

.feature-item img {
  order: -1;
  margin-bottom: 25px;
}

.feature-item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  text-transform: uppercase;
}

.feature-item p {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  color: #283136;
}

.feature-item .button {
  width: 160px;
  /* min-height: 50px; */
}